@media all {
    .img-circle,
    .top-user-menu .user-main-character-avatar img.ra-avatar,
    img {
        border-radius: 6px;
    }

    img {
        height: auto;
        max-width: 100%;
    }

    code {
        background-color: rgb(236 240 241);
        color: rgb(123 138 139);
        font-family: "Fira Code", monospace;
    }

    @supports (font-variation-settings: normal) {
        code {
            font-family: "Fira Code VF", monospace;
        }
    }

    .template-dark-mode code {
        background-color: rgb(235 235 235);
        color: rgb(48 48 48);
    }
}
